$status-bar-background-color: #66351f;
$darkened-status-bar-color: #552a1f;

.debuggingToolBar {
    height: 100%;
    display: flex;
    padding: 0 10px;
    gap: 10px;
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: $status-bar-background-color;
}

.debuggingToolBar>.debuggingToolBarLeft {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.debuggingToolBar>.debuggingToolBarLeft>.debuggingToolBarGroup {
    margin-right: 10px;
}

.debuggingToolBar>.debuggingToolBarLeft>.debuggingToolBarGroup>.debuggingToolBarLabel {
    font-size: 13px;
    margin-right: 5px;
    color:rgb(255, 255, 255);
}

.debuggingToolBar>.debuggingToolBarLeft>.debuggingToolBarGroup>select {
    background-color: $status-bar-background-color;
    color: white;
    border: none;
    font-size: 14px;
    border: none;
    height: 100%;
    padding: 0 2px;
}

.debuggingToolBar>.debuggingToolBarLeft>.debuggingToolBarGroup>select:hover {
    background-color: $darkened-status-bar-color;
}

.debuggingToolBar>.debuggingToolBarRight {
    display: flex;
    align-items: center;
    gap: 10px;
}