
.participantsContent  > .participantCard {
    color:rgb(161, 161, 161);
    border: dashed 1px grey;
    display:flex;
    flex-direction: column;    
    justify-content: space-between;
    align-items: center;
    font-size:13px;
    padding:10px 10px;
}

.participantsContent  > .selected  {
    color:rgb(255, 255, 255);
    border: dashed 1px rgb(255, 208, 121);
}

.participantCard > .label-row {
    display:flex;
    flex-direction: row;    
    justify-content:space-between;
    width:100%;
}

.participantCard > .label-row > .label {
    display:flex;
    flex-direction: row;    
    justify-content: space-between;
    align-items: center;
    font-size:13px;
    white-space: nowrap;
    overflow-x: hidden;
    margin: 0 10px;
    flex: 1;
}

.participantsContent  > .participantCard > .label-row > .icons{
    display:flex;
    flex-direction: row;    
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    .icon {
        color:rgb(161, 161, 161);
        cursor: pointer;
    }

    .icon:hover {
        color:rgb(255, 255, 255);
    }
}

.participantsContent  > .participantCard > .prediction {
    width:100%;
    display:flex;
    flex-direction: row;
    padding-top: 10px;
    min-height:20px;
    align-items: center;
}

.participantsContent > .participantCard > .prediction > .prediction-name {
    font-size: 13px;
    color:rgb(187, 187, 187);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    flex: 1;
}

.participantsContent > .participantCard > .prediction > .prediction-trash {
    width: 10px;
    padding-left:10px;
    padding-right:3px;
}







