.failureContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
}


.failureLabel {
    font-size: 12px;
    margin-bottom: 10px;
    color:white;
}

.rootCauseLabel {
    font-size: 12px;
    margin-bottom: 10px;
    padding-left: 10px;
    color:white;
}