.failureContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.failureLabel {
    font-size: 12px;
    color:white;
    background-color: #510909;
    padding:10px;
    cursor: pointer;
}

.rootCauseLabel {
    font-size: 12px;
    padding:10px;
    color:white;
    background-color: #3f3737;
    cursor: pointer;
}