.behavior-info-container {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.behavior-info-container > .behavior-info-wrapper > .title {
    font-size: 13px;
    font-weight: bold;
    color: rgb(121, 121, 121);
    margin-bottom: 5px;
}

.behavior-info-container > .behavior-info-wrapper > .name {
    font-size: 13px;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
}