$status-bar-background-color: #3b4e55;
$darkened-status-bar-color: #2e3b44;

.implementationToolBar {
    height: 100%;
    display: flex;
    padding: 0 10px;
    gap: 10px;
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: $status-bar-background-color;
}

.implementationToolBar>.implementationToolBarLeft {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.implementationToolBar>.implementationToolBarLeft>.implementationToolBarGroup {
    margin-right: 10px;
}

.implementationToolBar>.implementationToolBarLeft>.implementationToolBarGroup>.implementationToolBarLabel {
    font-size: 13px;
    margin-right: 5px;
    color:rgb(255, 255, 255);
}

.implementationToolBar>.implementationToolBarLeft>.implementationToolBarGroup>select {
    background-color: $status-bar-background-color;
    color: white;
    border: none;
    font-size: 14px;
    border: none;
    height: 100%;
    padding: 0 2px;
}

.implementationToolBar>.implementationToolBarLeft>.implementationToolBarGroup>select:hover {
    background-color: $darkened-status-bar-color;
}

.implementationToolBar>.implementationToolBarRight {
    display: flex;
    align-items: center;
    gap: 10px;
}