.traceBehaviorSelector {
    display: flex;
    flex-direction: column;
}

.traceBehaviorSelector >.traceBehaviorRow {
    display: flex;
    flex-direction: row;
    width:100%;
}

.traceBehaviorSelector > .traceBehaviorRow:hover {
    background-color: #242424;
}

.traceBehaviorSelector > .traceBehaviorRow > .traceBehaviorIndicator {
    width: 8px;
}

.traceBehaviorSelector > .traceBehaviorRow > .traceBehaviorSelectorItem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
    color:white;
    cursor: pointer;
    flex: 1;
}