.traceBehaviorSelector {
    display: flex;
    flex-direction: column;
    overflow-y:scroll;
    height:100%;
}

.traceBehaviorSelector >.traceBehaviorRow {
    display: flex;
    flex-direction: row;
    width:100%;
}

.traceBehaviorSelector >.traceBehaviorRow:nth-child(odd) {
    background-color: #212121;
}

.traceBehaviorSelector > .traceBehaviorRow:hover {
    background-color: #242424;
}

.traceBehaviorSelector > .traceBehaviorRow > .traceBehaviorIndicator {
    width: 8px;
}


.traceBehaviorSelector > .traceBehaviorRow > .traceBehaviorSelectorItem {
    display: flex;
    font-size: 13px;
    padding: 7px 10px;
    gap: 3px;
    color:white;
    cursor: pointer;
    flex: 1;
    flex-direction: column;
}

.traceBehaviorSelector > .traceBehaviorRow > .traceBehaviorSelectorItem > .traceBehaviorTransformValidity {
    font-size: 12px;
    color: #ff9494;
}

.traceBehaviorSelector > .traceBehaviorRow > .traceBehaviorSelectorItem > .traceBehaviorInvariantViolations {
    font-size: 12px;
    color: #ff9494;
}