.trace-select-row-container {
    display:flex;
    padding:7px;
    color:rgb(180, 180, 180);
    border-bottom: solid 0.5px rgb(41, 41, 41);
    padding-left:10px;
    flex-direction: row;
    align-items: center;
}

.trace-select-row-container:hover {
    background-color: rgb(41, 41, 41);
    cursor: pointer;
}

.trace-select-row-container > .selected-icon-container {
    width:auto;
    margin-right: 10px;
    display:flex;
    justify-content: center;
}

.trace-select-row-container > .date-container {
    display:flex;
    flex-direction: column;
    font-size:12px;
    flex: 1;
}
.trace-select-row-container > .trash-icon-container {
    width:auto;
    margin-right: 10px;
    display:flex;
    justify-content: center;
}


