$status-bar-background-color: #3b4e55;
$darkened-status-bar-color: #2e3b44;

.mainToolBar {
    height: 100%;
    display: flex;
    padding: 0 10px;
    gap: 10px;
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: $status-bar-background-color;
}

.mainToolBar>.mainToolBarLeft {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.mainToolBar>.mainToolBarLeft>.mainToolBarGroup {
    margin-right: 10px;
}

.mainToolBar>.mainToolBarLeft>.mainToolBarGroup>.mainToolBarLabel {
    font-size: 13px;
    margin-right: 5px;
    color:rgb(255, 255, 255);
}

.mainToolBar>.mainToolBarLeft>.mainToolBarGroup>select {
    background-color: $status-bar-background-color;
    color: white;
    border: none;
    font-size: 14px;
    border: none;
    height: 100%;
    padding: 0 2px;
}

.mainToolBar>.mainToolBarLeft>.mainToolBarGroup>select:hover {
    background-color: $darkened-status-bar-color;
}

.mainToolBar>.mainToolBarRight {
    display: flex;
    align-items: center;
    gap: 10px;
}